.find-teammates-list {
  width: 100%;
  background-color: #333;
  color: #d2d2d2;
  margin: 0;
  padding: 0;
}

.find-teammates-table {
  background-color: #333;
  color: #d2d2d2;

}

.find-teammates-item {
  display: flex;
  width: 100%;
  padding: 10px;

}

.find-teammates-item-category {
  padding: 20px;
  background-color: #555;
  margin: 0px 10px;

}

.invite-teammates-btn {
  padding: 10px 25px;
  border: 1px solid #000;
  background-color: #555;
  border-radius: 5px;
}

.join-teammates-table {
  background-color: #204060;
  color: #d2d2d2;

}

.join-teammates-item {
  display: flex;
  width: 100%;
  padding: 10px;

}

.join-teammates-item-category {
  padding: 20px;
  background-color: #264d73;
  margin: 0px 10px;
}

.join-teammates-btn {
  padding: 10px 25px;
  border: 1px solid #000;
  background-color: #555;
  border-radius: 5px;
}
