<div class="box">

	<nav class="navbar">
	  <div class="inner-nav">

	    <div class="nav-left">
	      <div class="nav-item logo-box">
	        <%= link_to root_path, :class => "logo-link" do %>
	          <i class="fa fa-cubes"></i> Mythic Gaming
	        <% end %>  
	      </div>
	    </div>


	    <div class="nav-middle"></div>

	    <div class="nav-right">

	    </div>
	  
	  </div>
	</nav>

</div>