.sign-up-form {
  border: 2px solid #000;
  width: 65vw;
  height: 75vh;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: image-url("wallpaper9.png");
  background-color: #b3b3b3;
  background-position: center center;
  background-size: 100% 100%;

}


form.new_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2.other-links {
  text-align: center;

  border: 2px solid #000;
  background-color: #555;
  padding: 10px 25px;
  color: #fff;
  width: 65vw;
  margin: 0 auto;
  margin-bottom: 10px;
}


.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.ca-email-label {
  width: 35vw;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.ca-email-input {
  width: 35vw;
  text-align: center;
}

.ca-password-label {
  width: 35vw;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.ca-password-input {
  width: 35vw;
  text-align: center;
}

.submit-btn {
  border: 2px solid #000;
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  margin: 15px;
}

.other-links {
  text-align: center;
  margin-bottom: 10px;
}

body {
  background-color: #333;
}
