<ul class="navigation inline" data-tabu data-start-index="1">
  <li><a href="#firstContent">Nightly Statistics</a></li>
  <li><a href="#secondContent">Weekly Statistics</a></li>
  <li><a href="#thirdContent">Monthly Statistics</a></li>
  <li><a href="#fourthContent">Annual Statistics</a></li>
</ul>

<div class="tabu-content">
    <div class="content" id="firstContent">
      Nightly Statistics
    </div>
    <div class="content" id="secondContent">
      Weekly Statistics
    </div>
    <div class="content" id="thirdContent">
      Monthly Statistics
    </div>
    <div class="content" id="fourthContent">
      Annual Statistics
    </div>
</div>
