// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-container {
  background-color: #333;
  border-top: 1px solid #000;

}

.dash-top-row {
  height: 15vh;
  border-bottom: 1px solid #000;
}

// Whole Dash

.main-dash {
  border-top: none;
  background-color: #333;

}

// Side Nav

.dash-side-nav {
}

.side-nav-list {
  padding: 0;
  margin: 0;

}

.side-nav-item {
  display: flex;

}

.side-nav-link {
  padding: 15px 30px;
  width: 100%;
  &:hover {
    background-color: #d2d2d2;
    color: #000;
  }
}

// Main Body of Dash
.dash-main-body {
  background-color: #444;
  color: #d2d2d2;
  min-height: 80vh;

}

.field {
  display: flex;
  margin-bottom: 1vh;
}

.dash-label {
  padding: 20px;
  background-color: #555;
  color: #fff;
  margin: 0 20px;
  min-width: 12vw;
  font-size: 16px;

}

.dash-value {
  padding: 20px;
  background-color: #555;
  color: #fff;
  margin: 0 20px;
}

.dash-button {
  a {
    padding: 20px;
    background-color: #555;
    color: #fff;
    margin: 0 20px;
    min-width: 12vw;
    font-size: 16px;
  }
}

.dash-input {
  min-width: 300px;
}

.label-response {
  padding: 20px;
  background-color: #555;
  min-width: 20vw;

}
