.footer-section {
	background-color: #333;
	color: #d2d2d2;
	margin-top: 2vh;
}

.full-footer {
	min-height: 25vh;
	font-size: 12px;
}

.footer-col {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.footer-list-header {
	text-decoration: underline;
	text-align: center;
	padding: 4px;
	font-size: 12px;

}

.footer-list {
	text-decoration: none;
	list-style: none;
}

.footer-list-item {
	padding: 4px 12px;
	text-align: left;
	font-size: 11px;
	&:hover {
		background-color: #1a1a1a;
		color: #fff;
		cursor: pointer;
		border-radius: 3px;
	}
}