.navbar {
	padding: 0;
	z-index: 99;
	a {
		color: #d3d3d3;
	}
}

.nav-container {
	height: 10vh;
	min-height: 50px;
	width: 100%;
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.nav-left {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;

}

.logo-link {
	font-weight: bold;
	&:hover {
		text-decoration: none;
		color: #fff;
	}

}

.nav-middle {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;

}

.nav-right {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	.nav-button {
		padding: 15px 10px;
		margin: 0;
	}

}

.nav-grouping {


}

.nav-button {
	margin: 17px 5px;
	position: relative;
	&:hover {
		color: #fff;
	}

}

.nav-button-link {
	padding: 15px;
		&:hover {
		color: #fff;
		cursor: pointer;
		text-decoration: none;
	}

}

.nav-list {
	list-style-type: none;
	position: absolute;
	text-align: left;
	border: 1px solid #000;
	margin-left: 5px;
	display: none;
	background-color: #333;
	color: #000;
	margin: 0;
	margin-left: 5px;
	margin-top: 1px;
	min-width: 12vw;
	z-index: 99;
	padding: 0;
}

.nav-list-mega-dropdown {
	width: 80vw;
	min-height: 50vh;
	margin-left: -8vw;
	padding: 20px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.nav-right .nav-list {
	margin-left: 0px;
}

.nav-list-2 {
	display: flex;
	flex-direction: column;
}

.nav-grouping:hover .nav-list {
	display: flex;
	flex-direction: column;
}

.nav-list-item {
	width: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
}

.nav-list-item-header {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.nav-list-item-link {
	padding: 10px 5px;
	border-bottom: 1px solid #000;
	min-width: 100%;
	text-decoration: none;

}
