// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HERO SECTION

.hero-section {
	height: 90vh;
	background-color: #444;
	background-image: image-url("image1.jpg");
	background-image-width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-box {
	height: 72vh;
	width: 72vw;
	background-color: #444;
	opacity: 0.90;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

// WALLOP AND CAROUSEL

.carousel {
	height: 65vh;
	width: 68vw;
	background-color: #444;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Wallop {
}
.Wallop-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Wallop-item, .Wallop-item--current {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-image {
	height: 65vh;
	width: 68vw;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.carousel-image-1 {
	background-image: image-url("h1img1.jpg");
}
.carousel-image-2 {
	background-image: image-url("h1img2.jpg");
}
.carousel-image-3 {
	background-image: image-url("h1img3.jpg");
}
.carousel-image-4 {
	background-image: image-url("h1img4.jpg");
}
.Wallop-buttonPrevious {
	right: 32vw;
	
}
.Wallop-buttonNext {
	left: 32vw;

}

// GAMES SECTION

.header, .games-header {
	height: 10vh;
	border: 2px solid #000;
	margin: 2vh 0vw;
	display: flex;
	justify-content: center;
	align-items: stretch;
	font-size: 22px;
	color: #d9d9d9;
}
.fps-games-header .part-1{
	background-color: #6600ff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fps-games-header .part-2 {
	color: #6600ff;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.moba-games-header .part-1{
	background-color: #ff8533;
	display: flex;
	justify-content: center;
	align-items: center;
}
.moba-games-header .part-2 {
	color: #ff8533;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-games-header .part-1{
	background-color: #0066cc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-games-header .part-2 {
	color: #0066cc;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.more-games-header .part-1{
	background-color: #00b386;
	display: flex;
	justify-content: center;
	align-items: center;
}
.more-games-header .part-2 {
	color: #00b386;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.games-section {
	background-color: #444;
	flex-wrap: wrap;
	flex: 1;
	min-height: 50vh;
}

.game-items {
	background-color: #333;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.game-item {
	height: 90%;
	width: 80%;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fps-game-item {
	background-color: #6600ff;
}
.moba-game-item {
	background-color: #ff8533;
}
.hero-game-item {
	background-color: #0066cc;
}
.more-game-item {
	background-color: #00b386;
}

.game-link {
	height: 100%;
	width: 100%;
	background-color: #6600ff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.game-image {
	background-image: image-url("h2img1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	max-height: 92%;
	max-width: 95%;
}

// SECTION HEADER

.section-header {
	height: 10vh;
	border: 2px solid #000;
	margin: 2vh 0vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	background-color: #333;
	color: #d9d9d9;
}

// SIGN IN | ACCOUNT CREATION

.signup-section {
	font-size: 22px;
	border: 2px solid #000;
	background-image: image-url("hexagonimg2");
	background-size: 50% 100%;
	background-repeat: repeat;
	color: #d2d2d2;
	min-height: 50vh;

}
.sign-in-header {
	display: flex;
	justify-content: center;
	align-items: center;

}
.create-account-header {
	display: flex;
	justify-content: center;
	align-items: center;

}
.sign-in-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
}
.create-account-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
}
.sign-in-content {
}
.create-account-content {
}
.signin-email-label {
	
}
.signin-email-input {
	
	text-align: center;
}
.signin-password-label {
	
}
.signin-password-input {
	
	text-align: center;
}
.ca-email-label {
	
}
.ca-email-input {
	
	text-align: center;
}
.ca-password-label {
	
}
.ca-password-input {
	
	text-align: center;
}
.confirm-ca-password-label {
	
}
.confirm-ca-password-input {
	
	text-align: center;
}
.submit-btn {
	border: 2px solid #444;
	opacity: 0.9;
	padding: 10px 20px;
	color: #d2d2d2;
	background-color: #333;
	cursor: pointer;
}
form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.form-label {
	color: #d2d2d2;
	font-size: 18px;
}
.form-input {
	color: #d2d2d2;
	font-size: 18px;
}


// INFORMATION 

// STATISTICS
.statistics-header .col-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
	color: #d2d2d2;
}

.statistics-section {
	border: 2px solid #000;
}

.console-img {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
}

