// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// NEW HERO

.hero-section {
	min-height: 90vh;
	background-color: #444;
	// background-image: image-url("image1.jpg");
	// background-image-width: 100vw;
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center center;
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-box {
	height: 80vh;
	width: 80vw;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallop-main {
  height: 75vh;
  width: 75vw;
}

.wallop-slide {
  height: 75vh;
  width: 75vw;
}

.carousel-slide-img {
  background-position: center center;
  background-size: 100% 100%;
}
.carousel-first-slide {
  background-image: image-url("wallpaper9.png");
  background-position: center center;
  background-size: 100% 100%;
}
.carousel-second-slide {
  background-image: image-url("wallpaper10.jpg");
  background-position: center center;
  background-size: 100% 100%;
}
.carousel-third-slide {
  background-image: image-url("wallpaper7.jpg");
  background-position: center center;
  background-size: 100% 100%;
}
.carousel-fourth-slide {
  background-image: image-url("wallpaper11.jpg");
  background-position: center center;
  background-size: 100% 100%;
}
.carousel-fifth-slide {
  background: image-url("h3img23.jpg");
  background-position: center center;
  background-size: 100% 100%;
}

.slide-box {
	position: absolute;
	bottom: 5vh;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 30vw;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid #000;
	background-color: #333;
	opacity: 0.75;
	z-index: 125;

}

.slide-box-header {
	color: #d2d2d2;
	margin: 25px;
	color: #fff;
	font-size: 18px;
	&:hover {
		color: #fff;
	}

}

.slide-box-button {
	color: #fff;
	margin: 25px;
	a {
		background-color: #333;
		border: 1px solid #000;
		padding: 15px 25px;
	}

}

.wallop-buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 75vw;

}

.Wallop-buttonPrevious {
  position: absolute;
  left: 0;
  top: 0;
  height: 75vh;
  width: 12vw;
  opacity: 0.10;
  margin: 0;

}

.Wallop-buttonNext {
  position: absolute;
  right: 0;
  top: 0;
  height: 75vh;
  width: 12vw;
  opacity: 0.10;
  margin: 0;

}
// HERO SECTION




// GAMES SECTION

.header, .games-header {
	height: 10vh;
	border: 2px solid #000;
	margin: 2vh 0vw;
	display: flex;
	justify-content: center;
	align-items: stretch;
	font-size: 22px;
	color: #d9d9d9;
}
.fps-games-header .part-1{
	background-color: #6600ff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fps-games-header .part-2 {
	color: #6600ff;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.moba-games-header .part-1{
	background-color: #ff8533;
	display: flex;
	justify-content: center;
	align-items: center;
}
.moba-games-header .part-2 {
	color: #ff8533;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-games-header .part-1{
	background-color: #0066cc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-games-header .part-2 {
	color: #0066cc;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.more-games-header .part-1{
	background-color: #00b386;
	display: flex;
	justify-content: center;
	align-items: center;
}
.more-games-header .part-2 {
	color: #00b386;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.games-section {
	background-color: #444;
	flex-wrap: wrap;
	flex: 1;
	min-height: 50vh;
}

.game-items {
	background-color: #333;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.game-item {
	height: 90%;
	width: 80%;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fps-game-item {
	background-color: #6600ff;
	background-color: #000;
}
.moba-game-item {
	background-color: #ff8533;
	background-color: #000;
}
.hero-game-item {
	background-color: #0066cc;
	background-color: #000;
}
.more-game-item {
	background-color: #00b386;
	background-color: #000;
}

.game-link {
	height: 100%;
	width: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.game-image {
	background-image: image-url("h2img1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 92%;
	width: 95%;
}

// SECTION HEADER

.section-header {
	height: 10vh;
	border: 2px solid #000;
	margin: 2vh 0vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	background-color: #333;
	color: #d9d9d9;
}

// SIGN IN | ACCOUNT CREATION

.signup-section {
	font-size: 22px;
	border: 2px solid #000;
	background-image: image-url("hexagonimg2");
	background-size: 50% 100%;
	background-repeat: repeat;
	color: #d2d2d2;
	min-height: 50vh;

}
.sign-in-header {
	display: flex;
	justify-content: center;
	align-items: center;

}
.create-account-header {
	display: flex;
	justify-content: center;
	align-items: center;

}
.sign-in-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
}
.create-account-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
}
.sign-in-content {
}
.create-account-content {
}
.signin-email-label {

}
.signin-email-input {

	text-align: center;
}
.signin-password-label {

}
.signin-password-input {

	text-align: center;
}
.ca-email-label {

}
.ca-email-input {

	text-align: center;
}
.ca-password-label {

}
.ca-password-input {

	text-align: center;
}
.confirm-ca-password-label {

}
.confirm-ca-password-input {

	text-align: center;
}
.submit-btn {
	border: 2px solid #444;
	opacity: 0.9;
	padding: 10px 20px;
	color: #d2d2d2;
	background-color: #333;
	cursor: pointer;
}
form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.form-label {
	color: #d2d2d2;
	font-size: 18px;
	min-width: 25vw !important;
	text-align: center;
}
.form-input {
	color: #d2d2d2;
	font-size: 18px;
	min-width: 25vw !important;
}

.other-links {
	display: none;
}

// STATISTICS
.statistics-header .col-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
	color: #d2d2d2;
}

.statistics-section {
	border: 2px solid #000;
	font-size: 18px;
	color: #d2d2d2;
	background-color: #333;
	background-image: image-url("pattern2.jpg");
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.statistics-catalogue-header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.statistics-catalogue-item {
	border: 2px solid #000;
	font-weight: bold;
	padding: 10px 25px;

}

.console-img {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
}

.logo-img {
	color: #000 !important;
	filter: grayscale(100%);
}
.logo-game-img {

}

.statistics-header-top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
}
.statistics-header-middle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
}
.current-players-item {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-direction: column;
}
.current-players-item-top {

}
.current-players-item-mid {
	color: #2952a3;
	padding: 10px;
}
.brackets-filled-item {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-direction: column;
}
.brackets-filled-item-top {

}
.brackets-filled-item-mid {
	color: #339966;
	padding: 10px;
}

// INFORMATION Section

.information-section {
	// background-image: image-url("background3.jpg");
	background-color: #333;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 65vh;
	color: #fff;
	background-image: image-url("wallpaper14.jpg");
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.info-section-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
}

.info-section-item-header {
	color: #000;
	border: 2px solid #336699;
	border-left: 25px solid #336699;
	padding: 15px 25px;
	line-height: 1.2em;

}

.info-list-group {
	border: 2px solid #000;
	margin: 10px 0px;
	padding: 10px;
	min-height: 25vh;
	background-color: #000;
	opacity: 0.7;
}

.info-list-header {
	color: #000;
	font-size: 18px;
	border: 2px solid #336699;
	border-left: 25px solid #336699;
	padding: 5px 15px;
	list-style: none;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.info-list-item {
	margin-left: 25px;
}
