// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab-nav-box {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Style the tab */
div.tab-nav {
    overflow: hidden;
    border: 2px solid #000;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the buttons inside the tab */
div.tab-nav button {
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 2px solid #fff;
    color: #fff;
    background-color: #333;
    margin: 15px;
}

/* Change background color of buttons on hover */
div.tab-nav button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab-nav button.active {
    background-color: #ccc;
    border-bottom: 10px solid #fff;
    color: #000;
}

button.tablinks {
}

/* Style the tab content */
.tabcontent {
    display: none;
}
