.tourn-nav-row {
	margin-right: 8px;

}

.tourn-nav {
	border: 2px solid #000;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2vh;
	color: #d2d2d2;
	font-size: 18px;
	margin-right: 8px !important;
}

.tourn-nav-item {
	border: 2px solid #d2d2d2;
	background-color: #808080;
	color: #000;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.side-navbar {
}
.side-nav {
	background-color: #333;
	border: #fff;
	color: #d2d2d2;
	height: 100vh;
	width: 100;
	display: flex;
	justify-content: center;
	align-items: center;

}

.side-nav {

}

.side-nav-list { 
	list-style: none;

}
.side-nav-item {
	color: #000;

	a {
		color: #000;

		&:hover {
			text-decoration: underline;
		}
	}

}