.tourn-section {
	color: #d2d2d2;
}
.tourn-fps-section {

}
.tourn-moba-section {

}
.tourn-hero-section {

}
.tourn-more-section {

}

.tourn-game-item {
	background-color: #333;
	margin-bottom: 2vh;
}
.tourn-fps-game-item {

}
.tourn-moba-game-item {


}
.tourn-hero-game-item {

}
.tourn-more-game-item {

}

.tourn-game-header {
	padding: 4px;
	margin-bottom: 2vh;
}
.tourn-fps-game-header {
	border: 2px solid #6600ff;
}
.tourn-moba-game-header {
	border: 2px solid #ff8533;
}
.tourn-hero-game-header {
	border: 2px solid #0066cc;
}
.tourn-more-game-header {
	border: 2px solid #00b386;
}
.tourn-game-header-content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}


.tourn-img-placing {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}
.tourn-img-placing-fps {
background-color: #6600ff;
}
.tourn-img-placing-moba {
background-color: #ff8533;
}
.tourn-img-placing-hero {
background-color: #0066cc;
}
.tourn-img-placing-more {
background-color: #00b386;
}


.tourn-img {
	height: 20vh;
	width: 20vw;
}

.tourn-square {
	background-color: #444;
}

.tourn-item {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
}
.tourn-item-1 {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.tourn-item-part1 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.tourn-item-part2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.current-players-item {
	padding: 5px;
}
.brackets-filled-item {
	padding: 5px;
}
.prize-pool {
	padding: 15px;
}

.prize-pool-button {
	padding: 10px 20px;
	
}
.join-bracket-button {
	padding: 10px;
}
.fps-button {
	background-color: #6600ff
}
.moba-button {
	background-color: #ff8533;
}
.hero-button {
	background-color: #0066cc;
}
.more-button {
	background-color: #00b386;
}

.tourn-label {
	border: 2px solid #000;
	padding: 10px 25px;
}

.current-players-total {
	color: #2952a3;
	padding: 10px;
}
.brackets-filled-total {
	color: #339966;
	padding: 10px;
}
