/* line 5, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
body {
  background-color: #000;
}

/* line 9, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-section {
  color: #d2d2d2;
  margin-right: 8px;
}

/* line 26, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-game-item {
  background-color: #333;
  margin-bottom: 2vh;
  border: 2px solid #000;
}

/* line 36, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-game-header {
  padding: 4px;
  margin-bottom: 2vh;
  background-color: #1a1a1a;
}

/* line 41, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-fps-game-header {
  border-bottom: 2px solid #000;
}

/* line 45, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-moba-game-header {
  border-bottom: 2px solid #000;
}

/* line 49, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-hero-game-header {
  border-bottom: 2px solid #000;
}

/* line 53, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-more-game-header {
  border-bottom: 2px solid #000;
}

/* line 57, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-game-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

/* line 65, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-img-placing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* line 71, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-img-placing-fps {
  background-color: #6600ff;
  padding: 8px;
}

/* line 75, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-img-placing-moba {
  background-color: #ff8533;
  padding: 8px;
}

/* line 79, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-img-placing-hero {
  background-color: #0066cc;
  padding: 8px;
}

/* line 83, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-img-placing-more {
  background-color: #00b386;
  padding: 8px;
}

/* line 87, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-img {
  height: 20vh;
  width: 20vw;
}

/* line 93, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-square {
  background-color: #444;
}

/* line 96, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 18vh;
}

/* line 110, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-item-1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* line 115, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-item-game-box {
  background-color: #333;
  color: #d2d2d2;
  border: 8px solid #000;
  margin-top: 5px;
  background-color: #000;
  width: 100%;
  padding: 10px 0px;
}

/* line 124, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-item-console-box {
  background-color: #333;
  border: 8px solid #000;
  margin: 8px 0px;
  padding: 8px 0px;
}

/* line 131, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-item-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* line 137, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-item-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 143, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.current-players-item {
  padding: 5px;
}

/* line 146, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.brackets-filled-item {
  padding: 5px;
}

/* line 149, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.prize-pool {
  padding: 15px;
}

/* line 153, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.prize-pool-button {
  padding: 10px 20px;
  border: 2px solid #000;
  -webkit-appearance: button;
  -webkit-appearance: push-button;
  background-color: #004466;
}

/* line 162, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.bracket-header {
  font-size: 18px;
  margin: 10px 0px;
}

/* line 167, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.bracket-button {
  padding: 20px;
  color: #fff;
  background-color: #009966;
}

/* line 173, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.bracket-button-join {
  background-color: #004466;
}

/* line 177, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.bracket-button-switch {
  background-color: #00334d;
}

/* line 181, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.bracket-button-leave {
  background-color: #206040;
}

/* line 186, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.bracket-button-not-active {
  background-color: #737373;
}

/* line 190, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-label {
  border: 2px solid #000;
  padding: 10px 25px;
  background-color: #1a1a1a;
}

/* line 196, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.current-players-total {
  color: #2952a3;
  padding: 10px;
}

/* line 200, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.brackets-filled-total {
  color: #339966;
  padding: 10px;
}

/* Style the tab */
/* line 207, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
div.tab {
  overflow: hidden;
  border: 2px solid #000;
  background-color: #333;
  margin: 2vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the buttons inside the tab */
/* line 218, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
div.tab button {
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 2px solid #fff;
  color: #fff;
  background-color: #333;
  margin: 15px;
}

/* Change background color of buttons on hover */
/* line 231, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
/* line 236, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
div.tab button.active {
  background-color: #ccc;
  border-bottom: 10px solid #fff;
  color: #000;
}

/* Style the tab content */
/* line 243, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tabcontent {
  display: none;
}

/* line 249, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.brackets-row-non-scrollable {
  height: 100%;
  overflow: hidden;
}

/* line 254, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.side-nav-column {
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

/* line 261, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.main-bracket-column {
  padding: 0px 8px;
  height: 100%;
  overflow-y: auto;
}

/* line 267, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.side-nav-container {
  background-color: #333;
  height: 100%;
  flex-grow: 1;
}

/* line 274, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.side-nav {
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* line 284, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.side-nav-item-header {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

/* line 291, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
ul.side-nav-list {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

/* line 299, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.side-nav-item {
  padding: 4px 2px;
  color: #333;
}
/* line 302, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.side-nav-item:hover {
  color: #111;
}

/* line 310, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.sticky-row {
  overflow-y: hidden;
  height: 100vh;
}

/* line 316, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.sticky-col {
  height: 100%;
  overflow-y: auto;
}

/* line 323, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.console-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* line 335, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.console-img-active {
  border: 1px solid #000;
}

/* line 339, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-console-img {
  border: 2px solid #333;
  padding: 4px;
  color: #000;
  margin: 2px;
}
/* line 344, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.tourn-console-img:hover {
  border: 2px solid #000;
}

/* line 349, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.console-select {
  margin: 10px;
}

/* line 353, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.select-option {
  padding: 20px;
  margin: 5px;
}

/* line 358, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.xbox-buttons {
  display: none;
}

/* line 363, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.ps4-buttons {
  display: none;
}

/* line 367, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.steam-buttons {
  display: none;
}

/* line 371, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.active {
  display: block;
}

/* line 375, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/brackets.scss */
.change-color {
  color: red !important;
}
