/* line 5, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
body {
  background-color: #000;
}

/* line 9, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
.form-header {
  width: 65vw;
  margin: 2vh auto;
  border: 2px solid #000;
  background-color: #333;
  text-align: center;
  color: #fff;
}
/* line 16, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
.form-header h5 {
  color: #336699;
}
/* line 19, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
.form-header h2 {
  color: #000;
}

/* line 23, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
.player-form {
  width: 65vw;
  height: 75vh;
  border: 2px solid #000;
  background-image: url(/dev-assets/wallpaper9-5bacf03fa3c75612395da03d10a8daf2fbdfe8085cb22407745bdc83809479e9.png);
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh auto;
}

/* line 37, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
.form-field {
  margin: 2vh 0;
  color: #fff;
  font-size: 18px !important;
}

/* line 44, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
.form-label {
  text-align: center;
  width: 35vw;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

/* line 53, /Users/MatthewGaudio/Desktop/rubyonrails/rails/projects_rails/mythic_app1/app/assets/stylesheets/players.scss */
.form-input {
  text-align: center;
  width: 35vw;
}
