<nav class="navbar">
  <div class="inner-nav">

    <div class="nav-left">
      <div class="nav-item logo-box">
        <%= link_to root_path, :class => "logo-link" do %>
          <i class="fa fa-cubes"></i> Mythic Gaming
        <% end %>  
      </div>
    </div>

    <div class="nav-middle">
      <div class="nav-item dropdown">
        <div class="drop-btn">
          FPS Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item">Call of Duty: BO3</div>
          <div class="drop-item">Call of Duty: MWR</div>
          <div class="drop-item">Counter Strike: GO</div>
          <div class="drop-item">Halo: MCC</div>
          <div class="drop-item">Halo 5</div>
          <div class="drop-item">Halo 3</div>
          <div class="drop-item">Rainbow Six: Siege</div>
          <div class="drop-item">Destiny</div>
          <div class="drop-item">Gears of War 4</div>
          <div class="drop-item">Doom</div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          MOBA Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item">League of Legends</div>
          <div class="drop-item">DOTA 2</div>
          <div class="drop-item">SMITE</div>
          <div class="drop-item">Heroes of the Storm</div>
          <div class="drop-item">Paragon</div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          Hero Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item">Overwatch</div>
          <div class="drop-item">Lawbreakers</div>
          <div class="drop-item">Quake Champions</div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          More Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item">Starcraft 2</div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          Information <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item">Reddit</div>
          <div class="drop-item">Pricing</div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          More <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item">Schedule</div>
          <div class="drop-item">Find Teammates</div>
          <div class="drop-item"><%= link_to "Admin", admin_root_path %></div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          <%= link_to "Admin", admin_root_path %>
        </div>
        <div class="drop-content">
          <div class="drop-item">Schedule</div>
        </div>
      </div>

    </div>

    <div class="nav-right">
      <div class="nav-item">
        Sign In | Create Account
      </div>
    </div>

  </div>
</nav>
