<nav class="navbar">
  <div class="inner-nav">

    <div class="nav-left">
      <div class="nav-item logo-box">
        <i class="fa fa-cubes"></i> | Mythic Gaming
      </div>
    </div>

    <div class="nav-middle">
      <div class="nav-item">
        FPS Games
      </div>
      <div class="nav-item">
        MOBA Games
      </div>
      <div class="nav-item">
        Hero Games
      </div>
      <div class="nav-item">
        More Games
      </div>
      <div class="nav-item">
        Information
      </div>
      <div class="nav-item">
        More <i class="fa fa-caret-down"></i>
      </div>

    </div>

    <div class="nav-right">
      <div class="nav-item">
        Sign In | Create Account
      </div>
    </div>

  </div>
</nav>

<!-- <nav class="off-screen-navigation" id="off-screen">
  <div class="off-screen-level">
     <ul>
      <li>
        <a href="#">Setup</a>
        <div class="off-screen-level">
          <div class="off-screen-header">
            <h3 class="header">Setup</h3>
          </div>
          <a class="navigation-back" href="#">back</a>
          <ul>
            <li><a href="/docs">Getting Started</a></li>
            <li><a href="/whats_included">What's included?</a></li>
            <li><a href="/basic_setup">Basic Setup</a></li>
            <li><a href="/browser_support">Browser Support</a></li>
            <li><a href="/using_rails">Using Rails</a></li>
            <li><a href="/examples">Apps Examples</a></li>
          </ul>
        </div>
      </li>  
     </ul>
  </div>
</nav> -->