<nav class="main-nav">

  <div class="left-nav main-nav-item">
    <div class="nav-link">
      <div class="nav-item">
        <i class="fa fa-cubes"></i>
        Mythic Gaming
      </div>
    </div>
  </div>

  <div class="middle-nav main-nav-item">
    <div class="nav-link">
      <div class="ui dropdown nav-item">
        Games
        <i class="fa fa-sort-down"></i>
        <div class="menu">
          <div class="row games-sub-menu">
            <div class="col-3 item">
              <div class="item sub-menu-header">FPS</div>
              <hr>
              <div class="item sub-menu-item">Halo</div>
              <div class="item sub-menu-item">FPS Games</div>
              <div class="item sub-menu-item">Halo: MCC</div>
              <div class="item sub-menu-item">Call of Duty: BO3</div>
              <div class="item sub-menu-item">Call of Duty: IW</div>
              <div class="item sub-menu-item">Call of Duty: MWR</div>
              <div class="item sub-menu-item">Halo 5</div>
              <div class="item sub-menu-item">Destiny</div>
              <div class="item sub-menu-item">GOW: 4</div>
              <div class="item sub-menu-item">Doom</div>
              <div class="item sub-menu-item">CS: GO</div>
              <div class="item sub-menu-item">R6: Siege</div>
            </div>

            <div class="col-3 item">
              <div class="item sub-menu-header">MOBA</div>
              <hr>
              <div class="item sub-menu-item">Halo</div>
              <div class="item sub-menu-item">FPS Games</div>
              <div class="item sub-menu-item">Halo: MCC</div>
              <div class="item sub-menu-item">Call of Duty: BO3</div>
              <div class="item sub-menu-item">Call of Duty: IW</div>
              <div class="item sub-menu-item">Call of Duty: MWR</div>
              <div class="item sub-menu-item">Halo 5</div>
              <div class="item sub-menu-item">Destiny</div>
              <div class="item sub-menu-item">GOW: 4</div>
              <div class="item sub-menu-item">Doom</div>
              <div class="item sub-menu-item">CS: GO</div>
              <div class="item sub-menu-item">R6: Siege</div>
            </div>

            <div class="col-3 item">
              <div class="item sub-menu-header">Hero</div>
              <hr>
              <div class="item sub-menu-item">Halo</div>
              <div class="item sub-menu-item">FPS Games</div>
              <div class="item sub-menu-item">Halo: MCC</div>
              <div class="item sub-menu-item">Call of Duty: BO3</div>
              <div class="item sub-menu-item">Call of Duty: IW</div>
              <div class="item sub-menu-item">Call of Duty: MWR</div>
              <div class="item sub-menu-item">Halo 5</div>
              <div class="item sub-menu-item">Destiny</div>
              <div class="item sub-menu-item">GOW: 4</div>
              <div class="item sub-menu-item">Doom</div>
              <div class="item sub-menu-item">CS: GO</div>
              <div class="item sub-menu-item">R6: Siege</div>
            </div>

            <div class="col-3 item">
              <div class="item sub-menu-header">More</div>
              <hr>
              <div class="item sub-menu-item">Halo</div>
              <div class="item sub-menu-item">FPS Games</div>
              <div class="item sub-menu-item">Halo: MCC</div>
              <div class="item sub-menu-item">Call of Duty: BO3</div>
              <div class="item sub-menu-item">Call of Duty: IW</div>
              <div class="item sub-menu-item">Call of Duty: MWR</div>
              <div class="item sub-menu-item">Halo 5</div>
              <div class="item sub-menu-item">Destiny</div>
              <div class="item sub-menu-item">GOW: 4</div>
              <div class="item sub-menu-item">Doom</div>
              <div class="item sub-menu-item">CS: GO</div>
              <div class="item sub-menu-item">R6: Siege</div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="nav-link">
      <div class="nav-item">Manager</div>
    </div>

    <% if Rails.env.development? %>
    <div class="nav-link">
      <div class="nav-item">The Circuit</div>
    </div>
    <% end %>

    <div class="nav-link">
      <div class="ui dropdown nav-item">
        Information
        <i class="fa fa-sort-down"></i>
        <div class="menu nav-dropdown-menu">
          <div class="item nav-item">Tournament Basics</div>
          <div class="item nav-item">Statistics</div>
          <div class="item nav-item">Reddit</div>
          <div class="item nav-item">Support</div>
          <div class="item nav-item">FAQ</div>
        </div>
      </div>
    </div>

    <div class="nav-item">
      <div>Admin</div>
    </div>

  </div>

  <div class="right-nav main-nav-item">
    <div class="nav-link">
      <div class="nav-item">Log In | Sign up</div>
    </div>
  </div>

</nav>

 <!-- Sidebar Nav -->

  <div class="sidebar-header">
    <div class="nav-link ">
      <div class="nav-item demo">
        Menu
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>

  <div class="ui left vertical menu sidebar sidebar-nav">
    <div class="side-nav-link">
      <div class="side-nav-item item">
        <a class="item">
          <i class="fa fa-cubes"></i>
          Mythic Gaming
        </a>
      </div>
    </div>
    <div class="side-nav-link">
      <div class="side-nav-item item">
        <a class="item">
          Games
          <i class="fa fa-caret-right"></i>
        </a>
      </div>
    </div>
    <div class="side-nav-link">
      <div class="side-nav-item item">
        <a class="item">
          Manager
        </a>
      </div>
    </div>
    <div class="side-nav-link">
      <div class="side-nav-item item">
        <a class="item">
          The Circuit
        </a>
      </div>
    </div>
    <div class="side-nav-link">
      <div class="side-nav-item item">
        <a class="item">
          Information
          <i class="fa fa-caret-right"></i>
        </a>
      </div>
    </div>

    <div class="side-nav-link">
      <div class="side-nav-item item">
        <a class="item">
          Log in | Sign up
        </a>
      </div>
    </div>

  </div>




<script>

  $('.dropdown')
    .dropdown()
  ;


  $('.ui.dropdown')
    .dropdown()
  ;


  $('.nav-item.demo').click(function() {
    $('.ui.sidebar').sidebar('toggle')
  });

</script>
