
	<div class="row tourn-nav-row">
		<div class="col-11 offset-1 tourn-nav">
			<div class="tourn-nav-item"> Nightly Tournaments </div>
			<div class="tourn-nav-item"> Weekly Tournaments </div>
			
		</div>
	</div>
